In [95]:
import io
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import os
import numpy as np

In [96]:
conn = sqlite3.connect('sql/conn_trabalho.db', timeout=10)
c = conn.cursor()

In [97]:
dataB = pd.read_csv("dataset/LGBT_Survey_DailyLife.csv")
dataB.head()

,CountryCode,subset,question_code,question_label,answer,percentage,notes
0,Austria,Lesbian,b1_a,"In your opinion, how widespread is offensive l...",Very widespread,8,NaN
1,Austria,Lesbian,b1_a,"In your opinion, how widespread is offensive l...",Fairly widespread,34,NaN
2,Austria,Lesbian,b1_a,"In your opinion, how widespread is offensive l...",Fairly rare,45,NaN
3,Austria,Lesbian,b1_a,"In your opinion, how widespread is offensive l...",Very rare,9,NaN
4,Austria,Lesbian,b1_a,"In your opinion, how widespread is offensive l...",Don`t know,4,[0]

In [98]:
dataB["CountryCode"]

0        Austria
1        Austria
2        Austria
3        Austria
4        Austria
          ...
34015    Average
34016    Average
34017    Average
34018    Average
34019    Average
Name: CountryCode, Length: 34020, dtype: object

# Criando as tabelas

In [99]:
c.execute('''CREATE TABLE COUNTRY
             (COUNTRYCODE         INT NOT NULL,
              COUNTRY             TEXT NOT NULL,
              
              PRIMARY KEY(COUNTRYCODE)
              
             )''')

In [100]:
c.execute('''CREATE TABLE QUESTIONS
             (QC                  VARCHAR(10) NOT NULL,
              QUESTION            TEXT NOT NULL,
              CATEGORY            TEXT NOT NULL,
              
              PRIMARY KEY(QC)
             )''')

In [101]:
c.execute('''CREATE TABLE ANSWERS
             (COUNTRYCODE         INT NOT NULL,
              SUBSET              TEXT NOT NULL,
              QC                  VARCHAR(10) NOT NULL,
              ANSWER              TEXT NOT NULL,
              PERCENTAGE          INT NOT NULL,
              NOTES               TEXT,
              
              PRIMARY KEY(COUNTRYCODE,SUBSET,QC,ANSWER),
              
              FOREIGN KEY(COUNTRYCODE) REFERENCES COUNTRY(COUNTRYCODE),
              FOREIGN KEY(QC) REFERENCES QUESTIONS(QC)
              
             )''')

In [102]:
c.execute('''CREATE TABLE SIZE
             (COUNTRYCODE         INT NOT NULL,
              TIPO                TEXT NOT NULL,
              VALOR               INT NOT NULL,
              
              PRIMARY KEY(COUNTRYCODE,TIPO),
              
              FOREIGN KEY(COUNTRYCODE) REFERENCES COUNTRY(COUNTRYCODE)
              
             )''')

In [103]:
c.execute('''CREATE TABLE IDH
             (COUNTRYCODE         INT NOT NULL,
              HDI                 REAL NOT NULL,
              LEB                 REAL NOT NULL,
              EYS                 REAL NOT NULL,
              MYS                 REAL NOT NULL,
              GNI                 REAL NOT NULL,
              GNI_HDI             REAL NOT NULL,
              
              PRIMARY KEY(COUNTRYCODE),
              
              FOREIGN KEY(COUNTRYCODE) REFERENCES COUNTRY(COUNTRYCODE)
              
             )''')

In [104]:
c.execute('''CREATE TABLE PESOS
             (QC                  VARCHAR(10) NOT NULL,
              ANSWER              TEXT NOT NULL,
              VALUE               INT NOT NULL,
              
              PRIMARY KEY(QC,ANSWER),
              FOREIGN KEY(QC) REFERENCES QUESTIONS(QC),
              FOREIGN KEY(ANSWER) REFERENCES QUESTIONS(ANSWER)
             )''')

In [105]:
c.execute('''CREATE TABLE CULTURE
             (COUNTRYCODE         INT NOT NULL,
              pdi                 INT,
              idv                 INT,
              mas                 INT,
              uai                 INT,
              ltowvs              INT,
              ivr                 INT,
              
              PRIMARY KEY(COUNTRYCODE),
              FOREIGN KEY(COUNTRYCODE) REFERENCES COUNTRY(COUNTRYCODE)
             )''')

In [106]:
c.execute('''CREATE TABLE Religion
             (COUNTRYCODE         INT NOT NULL,
              Catholic                 REAL,
              Orthodox                 REAL,
              Protestant                 REAL,
              OtherChristian                 REAL,
              TotalChristians              REAL,
              NonBeliever                 REAL,
              Atheist                 REAL,
              Muslim                 REAL,
              
              PRIMARY KEY(COUNTRYCODE),
              FOREIGN KEY(COUNTRYCODE) REFERENCES COUNTRY(COUNTRYCODE)
             )''')

# Variaveis auxiliares

In [107]:
conv = open("conv.txt","r")

table1 = {}

p = conv.read().split("\n")

for x in p:
    s = x.split("|")[0][:-1].upper()
    i = x.split("|")[1][1:].upper()
    
    table1[i] = s

In [109]:
conv2 = open("conv2.txt","r")

tableC2 = {}

p = conv2.read().split("\n")

for x in p:
    s = x.split("|")[0][:-1].upper()
    i = x.split("|")[1][1:].upper()
    
    tableC2[s] = i

In [110]:
tableS = {"Lesbian": "LESBIAN",
          "Gay": "GAY",
          "Bisexual women" : "BIW",
          "Bisexual men" : "BIM",
          "Transgender" : "TRANS"}

tableS2 = {"Lesbian women": "LESBIAN",
          "Gay men": "GAY",
          "Bisexual women" : "BIW",
          "Bisexual men" : "BIM",
          "Transgender" : "TRANS"}


# Populando

In [111]:
#Country

table2 = {}

data = pd.read_csv("dataset/LGBT_Survey_SubsetSize.csv")

data = data.drop(0)

data = data.sort_values("CountryID")

paises = data["CountryID"].unique()

for x in range(len(paises)):
    
    table2[paises[x]] = x
    
    querry = """INSERT INTO COUNTRY
          VALUES ({},'{}') """.format(x,paises[x])
    
    c.execute(querry)

In [112]:
#questions

code = []
for x in os.listdir("dataset"):    
    print("dataset\{}".format(x))
    data = pd.read_csv("dataset\{}".format(x))
    
    if list(data.columns).count("question_code") == 0:
        continue
    
    cat = x.split("_")[2]
    cat = cat.split(".")[0]
    
    q = data[["question_code","question_label"]].values
    
    for i in q:
        if code.count(i[0]):
            continue
        
        code.append(i[0])
        
        querry = """INSERT INTO QUESTIONS
          VALUES ('{}','{}','{}') """.format(i[0],i[1],cat)
        
        try:
            c.execute(querry)
        except:
            1+1

dataset\.~lock.religion.csv#
dataset\6-dimensions-for-website-2015-12-08-0-100.csv
dataset\human-development-index-hdi-2014.csv
dataset\LGBT_Survey_DailyLife.csv
dataset\LGBT_Survey_Discrimination.csv
dataset\LGBT_Survey_RightsAwareness.csv
dataset\LGBT_Survey_SubsetSize.csv
dataset\LGBT_Survey_TransgenderSpecificQuestions.csv
dataset\LGBT_Survey_ViolenceAndHarassment.csv
dataset\pesos.csv
dataset\religion.csv

In [113]:
#Answers

for x in os.listdir("dataset"):
    data = pd.read_csv("dataset\{}".format(x))
    
    if list(data.columns).count("question_code") == 0:
        continue
        
    data = data.fillna("NULL")
    
    for i in data.index:
        sample = data.loc[i]
        
        try:
            idC = table1[sample["CountryCode"].upper()]
            idC = table2[idC]
            
        except:
            continue
        
        subset = tableS[sample["subset"]]
        qc = sample["question_code"]
        answer = sample["answer"]
        percentage = sample["percentage"]
        notes = sample["notes"]
        
        querry = """INSERT INTO ANSWERS
          VALUES ({},'{}','{}','{}',{},'{}') """.format(idC,subset,qc,answer,percentage,notes)
        
        try:
            c.execute(querry)            
        except:
            continue

In [114]:
#SIZE

data = pd.read_csv("dataset/LGBT_Survey_SubsetSize.csv")

for x in data.index:
    sample = data.loc[x]
    
    idC = sample["CountryID"]
    
    try:
        idC = table2[idC]
    except:
        continue
        
    for hi in tableS2.keys():
        value = sample[hi]
        
        querry = """INSERT INTO SIZE
          VALUES ({},'{}',{}) """.format(idC,tableS2[hi],value)
        
        c.execute(querry)

In [115]:
#IDH

data = pd.read_csv("dataset/human-development-index-hdi-2014.csv")

for x in range(data.shape[0]):
    sample = data.loc[x]
    
    country = sample["Location"]
    
    if list(table1.keys()).count(country.upper()) == 0:
        continue
    
    idC = table1[country.upper()]
    idC = table2[idC]
    
    sample = sample.values
    sample = sample[2:]
    
    querry = """INSERT INTO IDH
          VALUES ({}""".format(idC)
    
    for y in sample:
        if type(y) == str:
            y = y.split(",")
            y = ".".join(y)
            y =  float(y)
            
        querry += ",{}".format(y)
    
    querry += ")"
    
    c.execute(querry)

In [116]:
#PESOS

data = pd.read_csv("dataset/pesos.csv",sep=",")
for x in range(data.shape[0]):
    sample = data.loc[x]
    
    qc = sample["QC"]
    ans = sample["ANSWER"]
    valu = sample["VALUE"]
    
    querry = """INSERT INTO PESOS
          VALUES ('{}','{}',{})   """.format(qc,ans,valu)
    
    c.execute(querry)

In [117]:
#Culture

data = pd.read_csv("dataset/6-dimensions-for-website-2015-12-08-0-100.csv", sep = ";")
data = data.replace("#NULL!", "NULL")

for x in range(data.shape[0]):
    sample = data.loc[x]
    
    if list(tableC2.keys()).count(sample["ctr"]) == 0:
        continue
        
    cc = tableC2[sample["ctr"]]
    
    
    valores = sample.values[2:]
    
    querry = """INSERT INTO CULTURE
          VALUES ({}""".format(cc)
    
    for i in valores:
        querry += ", {}".format(i)
        
    querry += ")"
    
    
    c.execute(querry)

In [123]:
#Religion

data = pd.read_csv("dataset/religion.csv")

print(data)

for x in range(data.shape[0]):
    sample = data.loc[x]
    
    country = sample["Location"]
    
    if list(table1.keys()).count(country.upper()) == 0:
        continue
    
    idC = table1[country.upper()]
    idC = table2[idC]
    
    sample = sample.values
    sample = sample[1:]
    
    querry = """INSERT INTO Religion
          VALUES ({}""".format(idC)
    
    for y in sample:
        if type(y) == str:
            y = y.split(",")
            y = ".".join(y)
            y =  float(y)
            
        querry += ",{}".format(y)
    
    querry += ")"
    
    c.execute(querry)

            Location  Catholic  Orthodox  Protestant  Other Christian  \
0        Netherlands      21.9       1.9        17.8              6.2
1     Czech Republic      27.1       0.2         1.0              3.2
2             Sweden       1.6       0.9        36.5              8.6
3      Great Britain      12.7       9.6        14.7             19.2
4            Hungary      60.3       1.1         5.1              8.1
5             France      47.8       0.6         1.8              4.1
6             Latvia      26.2      24.0        16.6              9.9
7            Belgium      52.9       1.6         2.1              4.1
8              Spain      64.2       1.4         0.8              2.2
9            Estonia       2.8      23.2         9.0             23.6
10           Austria      66.5       2.2         7.2              1.9
11              EU28      45.3       9.6        11.1              5.6
12           Finland       0.1       2.0        69.7              7.4
13           Denmark       1.2       2.2        60.0              8.8
14        Luxembourg      64.8       3.5         3.6              0.7
15           Germany      31.1       0.9        33.1              7.5
16          Portugal      85.8       0.2         1.1              1.6
17             Italy      77.8       4.9         0.6              1.3
18  Northern Ireland      33.3       1.3        14.7             42.4
19           Croatia      84.2       2.3         0.2              0.0
20          Slovenia      66.6       0.9         1.5              0.2
21           Ireland      80.7       0.7         1.8              4.3
22          Slovakia      73.1       2.2         6.2              2.2
23         Lithuania      87.7       3.6         0.5              0.9
24          Bulgaria       1.6      83.3         0.1              0.8
25            Poland      90.7       0.2         1.0              0.4
26            Greece       0.4      92.9         0.1              1.0
27            Cyprus       1.3      96.3         0.0              0.8
28             Malta      95.0       0.3         0.2              0.4
29           Romania       5.3      89.9         3.4              1.0

    Total Christians  Non-Believer / Agnostic  Atheist  Muslim
0               47.8                     39.6      9.2     1.4
1               31.5                     38.6     25.8     0.0
2               47.6                     31.0     19.0     1.2
3               56.2                     20.6     11.8     4.7
4               74.6                     18.5      2.7     0.3
5               54.3                     17.6     22.8     3.3
6               76.7                     17.3      4.7     1.2
7               60.7                     17.1     14.9     5.2
8               68.6                     17.0     10.9     0.6
9               58.6                     16.6     22.2     0.2
10              77.8                     15.4      4.1     1.5
11              71.6                     13.6     10.4     1.8
12              79.2                     12.7      6.5     0.5
13              72.2                     12.5     13.2     0.8
14              69.8                     11.2     10.3     2.1
15              72.6                     10.7     12.8     2.2
16              88.7                      8.2      2.3     0.1
17              84.6                      8.1      4.3     0.1
18              91.7                      7.6      2.4     0.7
19              86.7                      6.6      3.6     1.3
20              69.2                      6.6     16.5     2.7
21              87.5                      5.8      4.6     0.8
22              83.7                      5.0      7.4     0.0
23              92.7                      4.2      2.6     0.0
24              85.8                      3.3      2.3     7.7
25              92.3                      2.2      3.6     0.2
26              94.4                      1.9      1.6     1.2
27              98.4                      1.1      0.5     0.0
28              95.9                      1.1      3.0     0.0
29              99.6                      0.2      0.1     0.1

# Salvando

In [124]:
#backup
#Referencia: http://pythonclub.com.br/gerenciando-banco-dados-sqlite3-python-parte1.html, https://stackoverflow.com/questions/49394737/exporting-data-from-google-colab-to-local-machine

f = io.open("sql/trabalho.sql",'w')

for texto in conn.iterdump():
    f.write("{}\n".format(texto))

f.close()

In [125]:
conn.close()